$color-white: #fff;
$color-yellow: #e9b200;
$color-red: #e4033b;
$color-green: #39cd62;
$color-grey: #e5e5e5;
$color-pink: #df18ff;
$color-orange: #f55f44;
$color-purple: #5718ff;
$color-btn: #39cdcc;

$color-blue-dark: #213f7d;
$color-blue-light: #545f7d;

$pagination_button_background: rgba(33, 63, 125, 0.1);
$dashboard_background: #fbfbfb;

$box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
$input-box-border: 2px solid rgba(84, 95, 125, 0.15);
$search_box_border: 1px solid #213f7d;
$sidebar-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
$border: 1px solid rgba(33, 63, 125, 0.06);

//////////////////////////////
///// Reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;

  max-width: 144rem;
  margin: auto;
  color: $color-blue-light;
}

a {
  text-decoration: none;
  color: $color-blue-dark;
}

ul {
  list-style: none;
}

.btn {
  outline: none;
  border: none;
  background: $color-btn;
  border-radius: 0.8rem;
  color: $color-white;
  cursor: pointer;
}

.active_status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 3rem;
  background: rgba($color-green, 0.06);
  color: $color-green;
  border-radius: 100px;
}

.inactive_status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 3rem;
  background: rgba($color-blue-light, 0.06);
  color: $color-blue-dark;
  border-radius: 100px;
}

.pending_status {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 9rem;
  height: 3rem;
  background: rgba($color-yellow, 0.1);
  color: $color-yellow;
  border-radius: 100px;
}

.blacklist_status {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 10rem;
  height: 3rem;
  background: rgba($color-red, 0.1);
  color: $color-red;
  border-radius: 100px;
}

////////////////////////////////
/// Imports all SASS files

@import "./layout";
@import "./components";
@import "../pages/login/login.scss";
@import "../components/UserDetails/userDetail.scss";
