$color-white: #fff;
$color-yellow: #e9b200;
$color-red: #e4033b;
$color-green: #39cd62;
$color-grey: #e5e5e5;
$color-pink: #df18ff;
$color-orange: #f55f44;
$color-purple: #5718ff;
$color-btn: #39cdcc;

$color-blue-dark: #213f7d;
$color-blue-light: #545f7d;

$pagination_button_background: rgba(33, 63, 125, 0.1);
$dashboard_background: #fbfbfb;

$box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
$input-box-border: 2px solid rgba(84, 95, 125, 0.15);
$search_box_border: 1px solid #213f7d;
$sidebar-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
$border: 1px solid rgba(33, 63, 125, 0.06);
